.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
}
.logo{
    width: 100px;
    height: 100px;
}

.help{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    align-content: center;
    cursor: pointer;
}
.info{
    width: 30px;
    height: 30px;
}

.modal{
    display: flex;
    flex-direction: column;
    padding: 1rem;    
    width: 380px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}
.name{
    color: #2ecc71;
}

.links{
    display: flex;
    gap: 1rem;
}
.link{
    text-decoration: none;
    color: blueviolet;
}

